/*iconfont资源*/
@font-face {
  font-family: 'iconfont';  /* project id 313030 */
  src: url('https://at.alicdn.com/t/font_hvbo16v0uoj8xgvi.eot');
  src: url('https://at.alicdn.com/t/font_hvbo16v0uoj8xgvi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_hvbo16v0uoj8xgvi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_hvbo16v0uoj8xgvi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_hvbo16v0uoj8xgvi.svg#iconfont') format('svg');
}
.App {
  text-align: center;
  
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #fff;
  padding: 0;
  min-height: 20em;
  width: 100%;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
}
.App nav .user-iconfont{
  font-family: iconfont;
  font-size: 20px;
  margin-left: .2em;
  margin-right: .2em;
  color: #fff;
}
.App nav .logout-iconfont{
  font-family: iconfont;
  font-size: 20px;
  margin-left: .2em;
  margin-right: .2em;
  color: #fff;
}
.App nav{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #2196f3;
  color: #fff;
  padding: .6em .2em;
}
.App .inputWrapper{
  margin: 1em .2em;
}
.App .todo-wrapper h3{
  margin: 1em 0;
}
.App .done-wrapper h3{
  margin: 1em 0;
}
.App  .todoList> li:nth-child(odd){
  background-color: #eee;
}
.App .todoList> li:nth-child(even){
  background: #ddd;;
}
.App  .doneList> li:nth-child(odd){
  background-color: #eee;
}
.App .doneList> li:nth-child(even){
  background: #ddd;
}
.App .logout{
  
  
  cursor: pointer;
}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
