@font-face {
            font-family: 'iconfont-footer';  /* project id 231555 */
            src: url('https://at.alicdn.com/t/font_di0edvxuz6m3g14i.eot');
            src: url('https://at.alicdn.com/t/font_di0edvxuz6m3g14i.eot?#iefix') format('embedded-opentype'),
            url('https://at.alicdn.com/t/font_di0edvxuz6m3g14i.woff') format('woff'),
            url('https://at.alicdn.com/t/font_di0edvxuz6m3g14i.ttf') format('truetype'),
            url('https://at.alicdn.com/t/font_di0edvxuz6m3g14i.svg#iconfont') format('svg');
        }
.footer .weichat-linkin-github{
    font-family: iconfont-footer;
    font-size: 40px;
    color: #555;
}
.footer{
    display: flex;
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
}
.footer span{
    line-height: 56px;
    margin: 0 20px;
}
.footer span.github{
    font-size: 47px;
    color: #2196f3;
}
.footer a{
    text-decoration: none;
}
@media screen and (max-width:600px) {
  .footer .weichat-linkin-github{
    font-family: iconfont-footer;
    font-size: 20px;
    color: #555;
    margin: 0 40px;
}
.footer{
    display: flex;
    width: 98%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
}
.footer span{
    line-height: 14px;
    margin: 0 5px;
}
.footer span.github{
    font-size: 22px;
    color: #2196f3;
}
.footer a{
    text-decoration: none;
}
}