.TodoItem{
    padding: .5em;
    margin: .1em 1em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.TodoItem .title{
    flex-grow: 1;
    padding: 0 .5em;
    color: #333;
}
.TodoItem button{
    display: inline-block;
    padding: .5em 1em;
    border-radius: .3em;
    background-color: #2196f3;
    outline: none;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #fff;
    letter-spacing: .2em;
}
.delete-iconfont{
    font-family: iconfont;
    font-size: 20px;
    cursor: pointer;
}